<div class="contenerdor-center">  
    <div class="contedor" id="contenedor">
        <div class="contenedorcentrado" id="contenedorcentrado">
            <div class="login" id="login">
                <form class="loginform" id="loginform" method="POST">
                    <label class="usuario" for="usuario">Usuario</label>
                    <input class="usuario" id="usuario" type="text" name="usuario" placeholder="Usuario" required>                    
                    <label class="password" for="password">Contrase単a</label>
                    <input class="password" id="password" type="password" placeholder="Contrase単a" name="password" required>   
                    <div class="bton-ini">
                        <a href="./recovery.cshtml" class="ov-btn-grow-box">Login</a>
                    </div>
                    
                </form>
            </div>
            <div class="derecho" id="derecho">
                <div class="titulo">Bienvenido a Hogwarts</div>
                <hr>
                <div class="pie-form">
                    <a href="#">多Perdiste tu contrase単a?</a>
                </div>
            </div>
        </div>
    </div>
</div>  