/* COLORS */
$backgroud_general : #16324F;
$background_second : #18435a;

/* BUTTONS */
$backgroud_buttons : #2a628f; //medio claro
$backgroud_hover : #13293d; //obscuro
$backgroud_hover_claro : #3e92cc; //obscuro

/* Letters */
$background_letters : #B8BEC4;
$leters_hover : #18435a;