/* COLORS */
/* BUTTONS */
/* Letters */
/* efectos para el contenedor de pantalla completa */
.contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  background-image: url("../lib/img/fondo_difuminado_login.jpg");
  background-position: center;
  background-size: cover;
}

.contenerdor-center {
  margin: 20% auto;
}

/* contenedor del login a la izquierda */
.contenedorcentrado {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-width: 380px;
  width: 100%;
  background-color: #16324F;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);
  padding: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* formulario de login */
.login {
  width: 100%;
  max-width: 320px;
  min-width: 320px;
  padding: 30px 30px 50px 30px;
  background-color: #18435a;
  -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);
  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  opacity: 1;
  filter: alpha(opacity=1);
}

.login label {
  display: block;
  font-family: "Overpass", sans-serif;
  font-size: 120%;
  color: #B8BEC4;
  margin-top: 15px;
}

.login input {
  font-size: 110%;
  color: #1b262c;
  display: block;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  padding: 5px 5px 5px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
}

.login input::-webkit-input-placeholder {
  font-family: "Overpass", sans-serif;
  color: #16324F;
}

.login input::-moz-placeholder {
  font-family: "Overpass", sans-serif;
  color: #16324F;
}

.login input:-ms-input-placeholder {
  font-family: "Overpass", sans-serif;
  color: #16324F;
}

.login input::-ms-input-placeholder {
  font-family: "Overpass", sans-serif;
  color: #16324F;
}

.login input::placeholder {
  font-family: "Overpass", sans-serif;
  color: #16324F;
}

.login button {
  font-family: "Overpass", sans-serif;
  font-size: 110%;
  color: #FFF;
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  background-color: #2a628f;
  margin-top: 10px;
}

.login button:hover {
  background-color: #3e92cc;
  color: #FFF;
}

.derecho {
  text-align: center;
  width: 100%;
  opacity: 0.7;
  filter: alpha(opacity=70);
  padding: 20px 20px 20px 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.titulo {
  font-size: 300%;
  color: #B8BEC4;
}

.logo-empresa img {
  width: 60%;
}

hr {
  border-top: 1px solid #B8BEC4;
  border-bottom: 1px solid #B8BEC4;
}

.pie-form {
  font-size: 90%;
  text-align: center;
  margin-top: 15px;
}

.pie-form a {
  display: block;
  text-decoration: none;
  color: #B8BEC4;
  margin-bottom: 3px;
}

.pie-form a:hover {
  color: #FFF;
}

/* seccion de la derecha */
/* seccion de la derecha */
/* ajustar a pantallas con ancho menor o igual a 775px; */
/* ajustar a pantallas con ancho menor o igual a 775px; */
@media all and (max-width: 775px) {
  .contenedorcentrado {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    min-width: 380px;
    width: 90%;
    background-color: #18435a;
    /*opacity: 0.50;
    filter: alpha(opacity=50);*/
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);
    padding: 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }

  .login {
    margin: 0 auto;
  }

  .derecho {
    padding: 20px 20px 20px 20px;
  }

  .login label {
    text-align: left;
  }
}
/* ajustar a pantallas con ancho menor o igual a 775px; */
/* ajustar a pantallas con ancho menor o igual a 775px; */